
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.card-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  text-decoration: none;
  color: orangered;
  cursor: pointer;
}

.icon:hover {
  text-decoration: none;
  color: orangered;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: orangered;
  cursor: pointer;
}


.content-display {
  background: #fff;
  padding: 1rem;
  width: 100dvw;
  height: 100dvh;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1024px) {
  .content-display {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 767px) {
.content-display {
  padding: 10px;
  }
}

.vehicles-view-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.vehicles-card {
  background: #f9f9f9;
  padding: 20px;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.4s;
  cursor: pointer;
  width: 19.5%;
  height: fit-content;
  border: 0.10px solid rgb(208, 208, 208);
}

.vehicles-card:hover {
  transform: scale(1.03);
  background: #e0e0e0;
  border: 2px solid orangered; 
}

header {
  margin-top: 2rem;
  display: flex;
  justify-content: start;
  color: orangered;
  font-style: italic;
  font-size: 1.25rem;
}

header.p {
  width: 100%;
}

.vehicle-image {
  margin-top: 1rem;
  width: 100%;
  height: auto;
  border-radius: 6px !important;
}

.btn-contact {
  display: flex;
  justify-content: center;
  background-color: white;
  color: orangered;
  border: 1px solid orangered;
  width: 100%;
  box-shadow: none !important;
}

.btn-contact:hover,
.btn-contact:active {
  background-color: orangered;
  transition: 0.4s ease-in-out;
  color: white;
  border: 1px solid white;
  box-shadow: none !important;
}

.btn-search {
  background-color: rgb(255, 92, 33);
  height: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-search:hover,
.btn-search:focus {
  background-color: rgb(255, 142, 101);
  color: white;
  box-shadow: none;
}

.input-search {
  width: 25% !important;
  height: 2rem;
  border: 1px solid rgb(252, 113, 62);
  border-radius: 6px;
  font-size: 14px;
  padding-left: 10px;
  box-shadow: none;
}

.input-group {
  display: flex;
  justify-content: end;
  width: 100% !important;
}

.toggle-fav-icon {
  font-size: 1.25rem;
  margin-top: 10px;
  display: flex;
  justify-content: right;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  width: 100%;
  background: rgb(217, 248, 255);
  height: 2rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;  
  width: 500px;
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 15px;
}

.modal-content ul {
  list-style: none;
  padding: 0;
}

.modal-content li {
  margin: 10px 0;
}

.not-found-text {
  width: 100%;
  min-height: 50dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.25rem;
}